 .azeret-mono-normal {
     font-family: "Azeret Mono", monospace;
     font-optical-sizing: auto;
     font-style: normal;
 }




 /* common shared style */
 .primary-description {
     color: rgb(13, 19, 33);
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     text-align: center;
     opacity: 0.7;
 }

 .text-primary {
     color: rgb(13, 19, 33);
     font-size: 32px;
     font-weight: 800;
     text-align: center;
 }

 .primary-btn {
     color: rgb(13, 19, 33);
     font-size: 16px;
     font-weight: 600;
     padding: 12px 20px 12px 20px;
     text-align: center;
     box-sizing: border-box;
     border: 1px solid rgb(13, 19, 33);
     opacity: 0.7;

 }

 /* header styles */

 /* main styles */
 main {
     max-width: 1140px;
     margin: 0 auto;
     /* background-color: aqua; */
 }

 /* banner styles */
 .banner-container {
     background-image: url("../assets/Hero-bg.png");
     /* width: 1140px; */
     width: 1440px;
     height: 650px;
     margin: 0 auto 0;
 }

 .banner {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin: 30px 220px 45px;
 }

 .banner-title {
     color: rgb(13, 19, 33);
     font-size: 48px;
     font-weight: 800;
     text-align: center;
 }

 .banner-btn {
     color: white;
     font-size: 20px;
     font-weight: 600;
     /* margin: 32px 0px; */
     padding: 24px;
     border-radius: 8px;
     background: rgb(13, 19, 33);
 }

 /* development section styles */
 .development-section {
     border-radius: 16px;
     background: rgba(13, 19, 33, 0.02);
 }

 .development-container {
     padding: 20px;
     margin: 97px 80px;
 }


 .development-card {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 48px;
     border-radius: 16px;
     background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
 }

 .development-title {
     color: rgba(13, 19, 33, 0.7);
     font-size: 24px;
     font-weight: 700;
     text-align: left;
 }

 .development-content {
     width: 400px;
 }


 .card-development {
     display: flex;
     margin: 0px 32px;
     gap: 32px;
     border-radius: 16px;
     background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
 }

 /* inspiration section */
 .inspiration-section {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     gap: 48;
     padding: 0 140px;
 }

 .inspiration-video {
     position: static;
     width: 1076px;
     height: 550px;
     margin: 10px 0px;
     border-radius: 16px;
 }

 /* framwork styles */
 .framwork {
     display: flex;
     margin-top: 48px;
     /* justify-content: flex-start; */
 }
.target-content{
    padding: 0 140px;
}
 .html-card {
     margin-right: 24px;
     padding: 40px;
     border-radius: 16px;
     background: rgba(255, 76, 30, 0.05);
 }

 .css-card {
     margin-right: 24px;
     padding: 40px;
     border-radius: 16px;
     background: rgba(0, 76, 232, 0.05);
 }

 .js-card {
     margin-right: 24px;
     padding: 40px;
     border-radius: 16px;
     background: rgba(255, 223, 0, 0.05);
 }
 .card-description{
    text-align: start;
 }